<a href="http://orchardproject.net" target="_blank" data-role="button" data-icon="leaf" data-iconpos="notext" data-inline="true">Orchard</a>
@*<a href="@Href("~/contact")" data-role="button" data-icon="email" data-iconpos="notext" data-inline="true">Contact</a>
<a href="#" data-role="button" data-icon="rss" data-iconpos="notext" data-inline="true">Rss</a>
<a href="http://twitter.com/orchardcms" target="_blank" data-role="button" data-icon="twitter" data-iconpos="notext" data-inline="true">Twitter</a>*@